<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{.title}}</title>
<style>
*{font-size: 14px;}
a{text-decoration: none;}

.page a{text-decoration: underline;}

.topic{
    clear: both;
    line-height: 24px;
}
.topic .comments{
    width: 30px;
    float: left;
    font-size: 12px;
}
.topic .title{
    width: 520px;
    float: left;
}
</style>
</head>
<body>
{{.LayoutContent}}
</body>
</html>